---
title: "Protein Prediction"
cluster: "rc"

form:
  - session_type
  - auto_accounts
  - auto_queues
  - working_directory
  - protein_sequence
  - agree_terms
  - bc_email_on_started

attributes:
  session_type:
    label: "Protein Prediction Engine"
    help: "Note: ESMFold and RFDiffusion will be coming soon"
    widget: select
    options:
      - ["AlphaFold 2", "AlphaFold 2"]
      - ["AlphaFold 3", "AlphaFold 3"]

  auto_accounts:
    label: "GPU Account"
    help: "Note: Account with access to GPU resources required"

  protein_sequence:
    widget: text_area
    label: "Input Sequence"
    help: "Enter the input sequence"

  agree_terms:
    label: "I agree to Google's Terms of Service"
    widget: check_box
    help: "<a href=\"https://github.com/google-deepmind/alphafold3/blob/main/WEIGHTS_TERMS_OF_USE.md\" target=\"_blank\">Read the terms</a>"
    required: true
    data-hide-session-type: "AlphaFold 2"

  working_directory:
    label: "Working Directory"
    help: "Output files will be saved here (scratch space recommended)"
    widget: "path_selector"
    show_files: false
    value: "/scratch/<%= ENV['USER'] %>"

  bc_email_on_started:
    label: "I would like to receive an email when the session starts and completes"
  
