---
title: "Protein Prediction"
cluster: "rc"

form:
  - session_type
  - auto_accounts
  - working_directory
  - protein_sequence
  - agree_terms

attributes:
  session_type:
    label: "Protein Prediction Engine"
    help: "NOTE: Only AlphaFold 2 and 3 are currently supported. ESMFold and RFDiffusion will be coming soon!"
    widget: select
    options:
      - ["AlphaFold 2", "AlphaFold 2"]
      - ["AlphaFold 3", "AlphaFold 3"]

  protein_sequence:
    widget: text_area
    label: "Input Sequence"
    rows: 5
    help: "Enter the input sequence."

  agree_terms:
    label: "I agree to Google's Terms of Service"
    widget: check_box
    help: "<a href=\"https://github.com/google-deepmind/alphafold3/blob/main/WEIGHTS_TERMS_OF_USE.md\" target=\"_blank\">Read the terms</a>"
    required: true
    data-hide-session-type: "AlphaFold 2"

  working_directory:
    label: "Working Directory"
    help: "Select or enter the path for the working directory. This is the directory where the output files will be saved."
    widget: "path_selector"
    show_files: false
    value: "/scratch/<%= ENV['USER'] %>"
