<div class="alert alert-info" >
  <strong>Job Information:</strong>
  <ul>
    <li>Your protein structure prediction job is now running. You will be notified via email upon completion. Note: The Time Remaining above is the job walltime remaining, and therefore not a true estimate of job completion time.</li>
   <li>Job output will be available in the selected working directory</a>.
   </li>
  </ul>
</div>
